@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-archive-sans);
  --font-serif: var(--font-archive-serif);
  --font-display: var(--font-archive-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-archive-sans), Arial, Helvetica, sans-serif;
}

@media (hover: hover) and (pointer: fine) {
  *,
  *::before,
  *::after {
    cursor: none !important;
  }
}

@layer utilities {
  .font-light {
    font-family: var(--font-archive-title-light), Arial, Helvetica, sans-serif !important;
    font-weight: 300;
  }

  .font-normal {
    font-family: var(--font-archive-sans), Arial, Helvetica, sans-serif !important;
    font-weight: 400;
  }

  .font-medium {
    font-family: var(--font-archive-title-medium), Arial, Helvetica, sans-serif !important;
    font-weight: 500;
  }

  .font-semibold {
    font-family: var(--font-archive-text-semibold), Arial, Helvetica, sans-serif !important;
    font-weight: 600;
  }

  .font-bold {
    font-family: var(--font-archive-title-bold), Arial, Helvetica, sans-serif !important;
    font-weight: 700;
  }

  .font-black {
    font-family: var(--font-archive-title-black), Arial, Helvetica, sans-serif !important;
    font-weight: 900;
  }
}


@theme {
  /* 로딩바가 0에서 100까지 차오르는 애니메이션 */
  @keyframes loading-fill {
    0% { width: 0%; }
    100% { width: 100%; }
  }
  --animate-loading-fill: loading-fill 3s forwards cubic-bezier(0.4, 0, 0.2, 1);

  /* 로고가 둥둥 떠있는 효과 (Bounce보다 부드러움) */
  @keyframes floating {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  --animate-floating: floating 2s infinite ease-in-out;
}

@theme {
  @keyframes splash-out {
    0% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(1.05); } /* 살짝 커지며 사라짐 */
  }
  --animate-splash-out: splash-out 0.5s forwards ease-in-out;
}